* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  max-width: 1000px;
  margin: 40px auto;
  padding-top: 0px;
  display: none;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#nav-links a {
  text-decoration: none;
  color: #000;
}

#nav-link-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#contact {
  text-decoration: none;
  color: #fff;
  background-color: #39db4a;
  width: 100px;
  padding: 15px 25px;
  border-radius: 30px;
}

#contact-text {
  padding-left: 10px;
}

#cart-icon,
#search-icon {
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  bottom: 3px;
}

#main-content {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: 6rem auto 0 auto;
}

.section-title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

#chef-image {
  width: 300px;
}

#hero-section {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

#accent-text {
  color: #39db4a;
}

.card-dishes {
  color: #555;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.card-subtext {
  margin-top: 0.25rem;
}

#hero-image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

#categories {
  width: 100%;
  max-width: 1000px;
  margin: 6rem auto;
  text-align: center;
}

#categories-container {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
  border: 1px solid red;
  row-gap: 3rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .services-container {
  width: 50%;
} */
#services-container-left {
  text-align: center;
  max-width: 1000px;
  width: 16rem;
  margin: 0 auto;
}
#services-container-right {
  display: flex;
  flex-direction: column;
  border-radius: 1px solid red;
  align-items: center;
  row-gap: 3rem;
}
.services-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 0 1rem;
}

.eyebrow-text {
  text-transform: uppercase;
  color: #ff6868;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-image {
  width: 6.25rem;
  height: auto;
}

.service-image {
  width: 2.5rem;
  height: auto;
}

#our-story-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 6rem auto;
  align-content: center;
  row-gap: 3rem;
  border: 1px solid red;
}

#footer-content {
  max-width: 1000px;
  margin: 6rem auto 0 auto;
  padding: 0 2rem;
  border: 2px solid red;
}

#services-description-text {
  margin-top: 1rem;
}

.services-body-text {
  color: #90bd95;
  font-size: 0.9rem;
  text-align: center;
  /* margin-top: 0.5rem; */
}
.services-title {
  color: #5fe26c;
  text-transform: uppercase;
  font-weight: bold;
}
#services-cta {
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #39db4a;
  border-radius: 3rem;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  transition: 0.5s all;
}

#services-cta:hover {
  color: #fff;
  background-color: #000;
}

/* tablet (768-1023px) */
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 1.75rem;
  }

  #categories-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 33rem;
    margin: 3rem auto 0 auto;
  }

  .card-dishes {
    font-size: 0.9rem;
  }

  #services-container-right {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 33rem;
    gap: 3rem;
    margin: 3rem auto 0 auto;
  }
}

/* desktop+ (1024+)  */
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 32px;
  }

  #categories-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 48px auto 0 auto;
  }

  .card {
    width: 200px;
    height: 200px;
  }

  .card-subtext,
  .card-dishes {
    margin-top: 4px;
  }

  .card-dishes {
    font-size: 15px;
  }

  .card-image {
    width: 100px;
  }
}
