* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  max-width: 1000px;
  margin: 40px auto;
  padding-top: 0px;
  /* display: flex; */
  display: none;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#nav-links a {
  text-decoration: none;
  color: #000;
}

#nav-link-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#contact {
  text-decoration: none;
  color: #fff;
  background-color: #39db4a;
  width: 100px;
  padding: 15px 25px;
  border-radius: 30px;
}

#contact-text {
  padding-left: 10px;
}

#cart-icon,
#search-icon {
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  bottom: 3px;
}

#main-content {
  max-width: 1000px;
  /* margin-top: 3rem; */
  padding: 0 1.5rem;
  margin: 6rem auto 0 auto;
  /* border: 2px solid red; */
}

#chef-image {
  width: 300px;
}
#hero-section {
  max-width: 1000px;
  /* margin: 3rem auto; */
  /* border: 2px solid red; */
  margin: auto;
  width: 100%;
  /* text-align: center; */
  /* padding: 0 40px; */
}

#accent-text {
  color: #39db4a;
}

#hero-image {
  width: 100%;
  max-width: 200px;
  height: auto;
}
#categories {
  width: 100%;
  max-width: 1000px;
  margin: 6rem auto;
  text-align: center;
  border: 1px solid red;
}

#categories-container {
  display: grid;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  margin-top: 3rem;
  row-gap: 3rem;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  /* border: 10px; */
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.eyebrow-text {
  text-transform: uppercase;
  color: #ff6868;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.section-title {
  margin-top: 1rem;
  font-size: 2rem;
}

#footer-content {
  max-width: 1000px;
  margin: 6rem auto 0 auto;
  padding: 0 2rem;
  border: 2px solid red;
}

/* tablet (768-1023px) */
@media screen and (min-width: 768px) {
  #categories {
    border: 1px solid red;
  }
  #categories-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    /* border: 1px solid red; */
  }
}
/* desktop+ (1024+)  */
