* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  max-width: 1000px;
  margin: 40px auto;
  padding-top: 0px;
  display: none;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#nav-links a {
  text-decoration: none;
  color: #000;
}

#nav-link-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 40px;
}

#contact {
  text-decoration: none;
  color: #fff;
  background-color: #39db4a;
  width: 100px;
  padding: 15px 25px;
  border-radius: 30px;
}

#contact-text {
  padding-left: 10px;
}

#cart-icon,
#search-icon {
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  bottom: 3px;
}

#main-content {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 6rem auto 0 auto;
}

.section-title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#chef-image {
  width: 300px;
}

#hero-section {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

#accent-text {
  color: #39db4a;
}

.card-dishes {
  color: #555;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.card-subtext {
  margin-top: 0.25rem;
}

#hero-image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

#categories {
  width: 100%;
  max-width: 1000px;
  margin: 10rem auto 0 auto;
  text-align: center;
}

#categories-container {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
  /* border: 1px solid red; */
  row-gap: 3rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services-container-left {
  text-align: center;
  max-width: 1000px;
  width: 24rem;
  margin: 0 auto;
}
#services-container-right {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  /* border: 1px solid red; */
  row-gap: 3rem;
}

#testimonials-container-left {
  text-align: center;
  max-width: 1000px;
  width: 22rem;
  margin: 0 auto;
}

#testimonials-container-right {
  /* border: 1px solid red; */
  text-align: center;
  max-width: 1000px;
  width: 24rem;
  margin: 0 auto;
}

#reviews-star {
  width: 0.9rem;
  height: auto;
}

#reviews-wrapper {
  margin-top: 0.5rem;
}

#reviews-customer-feedback {
  font-weight: bold;
}

#reviews-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
#reviews-rating {
  padding-left: 0.5rem;
  color: #454545;
}
#reviews-number {
  color: #807e7e;
}
.services-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 0 1rem;
}

.eyebrow-text {
  text-transform: uppercase;
  color: #ff6868;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-image {
  width: 6.25rem;
  height: auto;
}

.services-image {
  width: 2.5rem;
  height: auto;
}

#our-story-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 10rem auto 0 auto;
  align-content: center;
  row-gap: 3rem;
  /* border: 1px solid red; */
}

#testimonials {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 1000px;
  margin: 10rem auto 0 auto;
  align-content: center;
  row-gap: 3rem;
}

#footer-content {
  max-width: 1200px;
  margin: 10rem auto 0 auto;
  padding: 0 2rem;
  /* border: 2px solid red; */
  margin-bottom: 2rem;
}

#services-description-text {
  margin-top: 1rem;
}

.services-body-text {
  color: #90bd95;
  font-size: 0.9rem;
  text-align: center;
}
.services-title {
  color: #5fe26c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
.services-cta {
  text-decoration: none;
  color: #fff;
  background-color: #39db4a;
  border-radius: 3rem;
  padding: 1rem 3rem;
  display: block;
  text-align: center;
  transition: 0.3s all;
  width: 6rem;
  margin: auto;
}

.services-cta:hover {
  color: #fff;
  background-color: #000;
}

#services-desktop-cta {
  display: none;
}

#reviews-images {
  width: 9rem;
  height: auto;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links-section {
  font-weight: bold;
}

.footer-links-list {
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* .footer-links-container {
  margin-top:1rem;
} */

.footer-links-wrapper {
  margin-top: 1rem;
}

#footer-links-container {
  display: flex;
  flex-direction: column;
}

.footer-links-list a {
  text-decoration: none;
  color: #000;
}

#footer-text {
  margin-top: 1rem;
}
#icons-copyright {
  margin-top: 2rem;
}

#social-icons {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.icon-link {
  border-radius: 50%;
  background: #edffef;
  color: #000;
  display: flex;
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.icon-link:hover {
  background-color: #39db4a;
  color: #fff;
}

#copyright {
  margin-top: 2rem;
  text-align: center;
}

/* TABLET (768-1023px) */
@media screen and (min-width: 768px) {
  #footer-links-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-dishes {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.75rem;
  }

  #categories-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 33rem;
    margin: 3rem auto 0 auto;
  }

  #services-description-text {
    font-size: 1.1rem;
  }

  #services-container-left,
  #testimonials-container-left {
    width: 25rem;
  }

  #services-container-right {
    grid-template-columns: 1fr 1fr;
    max-width: 33rem;
    gap: 3rem;
    margin: 1rem auto 0 auto;
  }
}

/* #footer-container {
  flex-direction: row;
} */
@media screen and (min-width: 900px) {
  #testimonials {
    flex-direction: row;
    align-items: center;
  }

  #testimonials-container-right {
    text-align: left;
  }

  #reviews-container {
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }
}

@media screen and (min-width: 950px) {
  #footer-container {
    flex-direction: row;
    column-gap: 4em;
  }
  #footer-logo-text {
    width: 40%;
  }
  #footer-links-container {
    width: 60%;
    column-gap: 2em;
  }
}

/* DESKTOP+ (1024px+)  */
@media screen and (min-width: 1024px) {
  #footer-logo-text {
    width: 50%;
  }
  #footer-links-container {
    width: 50%;
    column-gap: 0;
  }
  #services-desktop-cta {
    display: inline-block;
  }

  #footer-container {
    column-gap: 64px;
  }

  .services-cta {
    margin: 30px 0 0 0;
    border-radius: 48px;
    padding: 12px 32px;
    width: 64px;
  }
  #services-mobile-cta {
    display: none;
  }
  .section-title {
    font-size: 36px;
  }

  #categories-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 48px auto 0 auto;
  }

  #categories {
    margin-top: 160px;
    max-width: 1200px;
  }

  .card {
    width: 200px;
    height: 200px;
  }

  .card-subtext,
  .card-dishes {
    margin-top: 4px;
  }

  .card-dishes {
    font-size: 15px;
  }

  .card-image {
    width: 100px;
  }

  #our-story-services {
    flex-direction: row;
    justify-content: center;
    row-gap: 0;
    max-width: 1200px;
    column-gap: 50px;
    padding: 0;
    margin-top: 200px;
  }
  #services-container-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50%;
    justify-content: center;
  }

  #services-container-right {
    margin: 0;
  }

  .services-wrapper {
    width: 210px;
    height: 160px;
    padding: 16px 12px;
    justify-content: space-evenly;
    row-gap: 0;
  }

  #services-description-text {
    margin-top: 16px;
    line-height: 1.5;
  }
  .services-title,
  .services-body-text {
    font-size: 15px;
  }

  .services-image {
    width: 32px;
    height: auto;
  }

  #reviews-images {
    width: 144px;
  }

  #testimonials {
    margin: 160px auto 0 auto;
    row-gap: 48px;
  }

  #footer-content {
    margin: 160px auto 32px auto;
    padding: 0 32px;
  }

  #icons-copyright {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  /* #social-icons {
    position: absolute;
   } */

  .icon-link {
    font-size: 16px;
    width: 48px;
    height: 48px;
  }
}
